/* 
Pallet
2D3142 - text-dark
#BFC0C0
FFFFFF - text-light
EF8354 - Highlight
4F5D75 - Background
*/



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0D1317;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  background-image: url(../assets/topography.svg);
}

/* ul {

} */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

i {
}

/* REUSABLE STYLES */
.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 2rem;
}

/****************** 
HEADER
******************/
.main-header {
  /* background-color: #2D3142; */
  padding: 1.5rem;
  width: 100%;
  position: absolute;
}


/* NAV */
.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.logo {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.logo-compass{
  display: inline-block;
  border: 1px solid #fff;
  height: 4rem;
  width: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.5rem;
  transform: rotate(-40deg)
}

.logo-north-bracket {
  color: #EF8354;
  font-weight: bolder;
}

.hamburger-menu {
  height: 42px;
  width: 42px;
  border: 1px solid rgba(211,211,211, 0.6);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  cursor: pointer;
}

.hamburger-menu-line {
  height: 4px;
  width: 100%;
  background-color: rgba(211,211,211, 0.6);
  border-radius: 10px;

}


.page-links {
  display: none; /* TEMP */
}

.page-links li {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.page-links li a {
  display: block;
  cursor: pointer;
}

/****************** 
HERO
******************/
.main-hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hero .container {
  text-align: center;
}

.main-hero-photo {
  height: 30rem;
}

.main-hero-title {
  font-size: 3.8rem;
  padding: 2rem 0;
}

.main-hero-desc {
  
}

/* TODO Media Queries, XS, SM, MD, LG */
/* Add Photo */